body{
    /*display: flex;*/
    /*justify-content: center;*/
    /*text-align: center;*/
}
h1{
    margin-bottom: 3rem;
}

h2{
    margin-bottom: 0.5rem;
    opacity: 0.6;
}

#sideBarIcon{
    border-radius: 50%;
    height: 5.2em;
    width: 5.2em;
    background-color: transparent;
    border-color: rgb(255, 255, 255);
    position: fixed;
    top: 6.5em;
    left: 0;
    margin-top: 5px;
    margin-left: 5px;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 80px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 15; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(0, 0, 0); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0; 
    transition: 0.4s; 
    opacity: .6;
  }
  

  .login-home{
        height:950px; /*height of your image*/
        background-image:url('https://images.pexels.com/photos/1640774/pexels-photo-1640774.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
        margin:0; /* If you want no margin */
        padding:0; /*if your want to padding */
       background-repeat: no-repeat;
       background-size:  cover;
      background-position: top center;
      background-attachment: fixed;
      width: 100%;
  }
  







